<!-- index.html -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Page Title</title>
</head>
<body>

<!-- Định nghĩa fragment breadcrumb -->
<!-- Thay đổi fragment breadcrumb -->
<div th:fragment="breadcrumb">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a  th:href="@{/clubs}">Home</a></li>
            <li class="breadcrumb-item"><a href="#">Find Club</a></li>
            <li class="breadcrumb-item"><a href="#">Find Event</a></li>
            <li class="breadcrumb-item dropdown">
                <a href="#" class="dropdown-toggle" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Menu
                </a>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                    <a class="dropdown-item" th:href="@{/clubs}">Login</a>
                    <a class="dropdown-item" href="#">Logout</a>
                    <a class="dropdown-item" href="#">Register</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" th:href="@{/clubs/new}" >Create Club</a>
                </div>
            </li>
        </ol>
    </nav>
</div>



</body>
</html>
